%h1 {
  font-weight: 700;
  line-height: 68px;
  font-size: 50px;
}

%h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 75px;
}

%h3 {
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
}

%h4 {
 font-weight: 600;
 font-size: 25px;
 line-height: 34px;
}

%largeText {
font-weight: 400;
font-size: 17px;
line-height: 23px;

}

%mediumText {
  font-weight: 500;
  font-size: 15px;
}

%regularText {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}

%lightText {
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
}
