/* The container must be positioned relative: */
.custom-select {
  position: relative;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  border: 1px solid #bdbdbd;
  border-radius: 15px;
  background: transparent;
  padding: 14px 7rem 14px 16px;
  appearance: auto;
}

.select-selected.select-arrow-active {
  background: #fff;
  border: none;
  font-weight: 600;
  font-size: 15px;
  line-height: 12px;
  color: $dark;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;
  border-top: 1px solid #c4c4c4;
  border-bottom: none;
  border-right: 1px solid #c4c4c4;
  border-left: 1px solid #c4c4c4;

  box-shadow: 0px 0px 27px rgba(0, 0, 0, 0.04);
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  transform: translateY(80%);
  right: 16px;
  content: "";
  border: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.7952 0.352673L7.00067 6.14863L1.20611 0.351975C0.929841 0.0757088 0.482943 0.0757088 0.206677 0.351975C-0.0688922 0.628242 -0.0688922 1.07584 0.206677 1.3521L6.50063 7.64815C6.7762 7.92442 7.2238 7.92442 7.49937 7.64815L13.7933 1.35216C14.0689 1.0759 14.0689 0.627602 13.7933 0.351336C13.5185 0.0764065 13.0708 0.0764065 12.7952 0.352673Z' fill='black'/%3E%3C/svg%3E%0A");
  width: 14px;
  height: 8px;
  background-size: 14px;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  content: "";
  background-image: none;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  @extend %regularText;
  color: $dark;
  background: #fff;
  padding: 20px 7rem 14px 16px;
  cursor: pointer;
}

.select-items div:last-child {
  padding-bottom: 0;
}

/* Style items (options): */
.select-items {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 0 0 15px;
  background: #fff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top: none;
  border-bottom: 1px solid #c4c4c4;
  border-right: 1px solid #c4c4c4;
  border-left: 1px solid #c4c4c4;

  box-shadow: 0px 0px 27px rgba(0, 0, 0, 0.04);
  top: 80%;
  left: 0;
  right: -1px;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  color: $brand-color;
}

// SORT BY

.form-check-input {
  border: 1px solid #8d8d8d;
  border-radius: 3px;
  width: 16px;
  height: 16px;
  float: left;
  margin-left: -1.5em;
  margin-top: 0.25em;
  vertical-align: top;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  appearance: none;
}
.form-check-input:focus {
  box-shadow: none !important;
}

.form-check-input:checked {
  background-color: transparent !important;
    border-color: transparent !important;
}
.form-check-input:checked[type=checkbox]  {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M14.6667 0C17.6122 0 20 2.38781 20 5.33333V14.6667C20 17.6122 17.6122 20 14.6667 20H5.33333C2.38781 20 0 17.6122 0 14.6667V5.33333C0 2.38781 2.38781 0 5.33333 0H14.6667ZM14.5026 6.83895C14.3022 6.62837 13.9876 6.61083 13.7681 6.7863L13.7107 6.83895L8.88 11.9132L6.28931 9.19192C6.07061 8.96219 5.71604 8.96219 5.49734 9.19192C5.29688 9.4025 5.28017 9.73297 5.44723 9.96353L5.49734 10.0238L8.48402 13.161C8.68451 13.3716 8.99911 13.3892 9.21861 13.2137L9.27596 13.161L14.5026 7.67084C14.7213 7.44112 14.7213 7.06867 14.5026 6.83895Z' fill='%23DF4E3C'/%3E%3C/svg%3E%0A") !important;
}

.form-check-input:checked + .sort__check-label{
  color: $brand-color;
}
.sort__check-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $text-gray;
}

.sort__title {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $dark;
}

/* The container must be positioned relative: */
.custom-sort {
  position: relative;
}

.custom-sort select {
  display: none; /*hide original SELECT element: */
}

.sort-selected {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  color: $text-gray;
  background: transparent;

  &:hover {
    color: $brand-color;
  }
}

.sort-selected.sort-arrow-active {
  border: none;
}

/* style the items (options), including the selected item: */
.sort-items div,
.sort-selected {
  cursor: pointer;
}

.sort-items div {
  padding-top: 12px;
}

.sort-items div:first-child {
  padding-top: 0;
}

/* Style items (options): */
.sort-items {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $dark;
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 12px;
  background: #fff;
  border-radius: 15px;
  top: 130%;
  right: -20px;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.sort-hide {
  display: none;
}

.sort-items div:hover,
.same-as-selected {
  color: $brand-color;
}

.sort__icon {
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='13' viewBox='0 0 11 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.33337 0L0.444489 2.88167H2.61116V7.94446H4.05558V2.88167H6.22224L3.33337 0Z' fill='%23DF4E3C'/%3E%3Cpath d='M8.38892 10.1183V5.05554H6.9445V10.1183H4.77783L7.66671 13L10.5556 10.1183H8.38892Z' fill='%238D8D8D'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  width: 11px;
  height: 13px;
  margin: 0 10px 0 13px;
}