.offers {
  &__filter {
    &-selects {
      white-space: nowrap;
    }
    margin-top: 80px;

    button {
      margin-top: 20px;
      @include onTablet {
        margin-top: 0;
      }
    }

    &-options {
      margin-top: 24px;
    }
  }

  &__item {
    box-shadow: 0px 0px 18px rgba(68, 68, 68, 0.09);

    img {
      position: relative;

    }

    &:hover {
      opacity: 0.9;
      box-shadow: 0px 0px 18px rgba(68, 68, 68, 0.09);
    }
  }

  &__wrapper-content {
    padding: 20px 0 35px 20px;
    background-color: #fff;

    @include onTablet {
      padding: 20px 0px 35px 10px;
    }

    @include onDesktop {
      padding: 20px 0 35px 20px;
    }
  }

  &__content {
    gap: 8px;
  }

  &__year {
    font-family: "Poppins", sans-serif;
    line-height: 26px;
    font-size: 17px;
    color: $text-gray;
  }

  &__name {
    @extend %largeText;
    color: $dark;
  }

  &__description {
    @extend %lightText;
    color: $text-gray;
    & span:not(:last-child)::after {
      content: url("data:image/svg+xml,%3Csvg width='2' height='18' viewBox='0 0 2 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 0L1 18' stroke='%238D8D8D'/%3E%3C/svg%3E%0A");
      padding: 0 8px;
    }
  }

  &__price {
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: $dark;
    margin-top: 26px;
  }
}
